/* html{
    font-size: 30px;
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    width: 100%;
    padding-top: 16px;
}

.gray-bar {
    background-color: #cccccc;
    width: 1140px;
    height: 20px;
    position: relative;
}

.gray-bar p {
    width: 100%;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    color: #666666;
    padding-top: 4px;
}

.color-img img {
    width: 1140px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

nav {
    background-color: #1C5DC5;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.nav-bar {
    width: 1140px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
}

.logo-sec {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.menu-sec {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.login, .cart, .about, .login-mobile, .contact-u, .search {
    color: #ffffff;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 500;
}

.login i, .cart i, .about i, .login-mobile i, .contact-u i, .search i {
    padding-right: 5px;
    font-size: 14px;
    font-weight: 500;
}

.sub-butn {
    width: 147px;
    height: 40px;
    border-radius: 100px;
    background-color: #26A39E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-butn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    background-color: #26A39E;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}

ul, li {
    list-style: none;
}

.banner {
    width: 100%;
    height: 100%;
    background: url(images/banner-crop.png) center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.hero-text {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}


.heading h1 {
    /* padding-top: 144px; */
    font-size: 46px;
    color: #ffffff;
    line-height: 55px;
    text-align: center;
}

.heading {
    width: 694px;
    padding-bottom: 64px;
}

.read-more-btns {
    width: 694px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding: 64px 0px 124px 0px; */
}

/* .read-btn, .view-btn{
    color: #1C5DC5;
    width: 181px;
} */
.read-btn a {
    color: #1C5DC5 !important;
    width: 240px;
    height: 52px;
    padding: 18px;
    margin-left: 75px;
    background-color: #ffffff;
    border-radius: 26px;
    border: none;
    font-size: 16px;
    text-align: center;

}

.read-btn, .view-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
}

.view-btn a {
    color: #1C5DC5 !important;
    width: 240px;
    height: 52px;
    padding: 18px;
    margin-left: 10px;
    border-radius: 26px;
    border: none;
    font-size: 16px;
    background-color: #ffffff;
    text-align: center;
}

.who-sec, .partner-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 64px 0px 64px 0px;
    background-color: #ffffff;
}

.who-holder, .part-holder, .what-holder {
    width: 1140px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.who-we-para, .part-para {
    width: 50%;
    padding: 40px 0px 40px 0px;
}

.who-we-img {
    width: 50%;
    /* position: relative; */
}

.who-we-img img {
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 189px; */
}

.who-we-para h3, .part-para h3 {
    color: #1C5DC5;
    font-size: 35px;
    padding-bottom: 24px;
}

.who-we-para p {
    color: #404040;
    font-size: 16px;
    padding: 24px 45px 0px 0px;
}

.part-para p {
    color: #404040;
    font-size: 16px;
    padding: 24px 125px 0px 0px;
}

.border {
    color: #ffffff;
    width: 50px;
    height: 2px;
    border-radius: 100px;
}

.menu-card-holder:hover .border {
    background-color: #df6364 !important;
    width: 80px;
    height: 3px;
    transition: 0.5s;

}

.st-btn, .ft-bt {
    padding-top: 40px;
}

.center {
    text-align: center;
}

.ft-bt a button {
    background-color: #ffffff;
    color: #1C5DC5;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 170px;
    height: 48px;
    border: 1px solid #1C5DC5;
}

.form-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-bt {
    background-color: #ffffff;
    color: #1C5DC5;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
    width: 170px;
    height: 48px;
    border: 1px solid #1C5DC5;
}

.st-btn a button {
    background-color: #1C5DC5;
    width: 170px;
    height: 48px;
    color: white;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

.what-we-do {
    width: 100%;
    background-image: url(images/what-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 64px 0px 64px 0px;
}

/* .what-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
} */
.what-heading h3, .contact-holder h3 {
    color: #1C5DC5;
    font-size: 40px;
    text-align: center;
    padding-bottom: 24px;
}

.m-l {
    margin-left: 544px;
}

.box {
    width: 300px;
    /* height: 440px; */
    background-color: #ffffff;
    margin: 10px;
}

.box-holder {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
}

.box-text {
    width: 100%;
    padding: 32px;
    position: relative;
}

.box h5 {
    color: #1C5DC5;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    padding-bottom: 24px;
}

.box p {
    color: #404040;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.view-button {
    position: absolute;
    top: 197px;
    right: 65px;
}

.partner-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
}

.part-adv {
    background: url(images/part1.png);
    width: 298px;
    height: 20px;
    text-align: center;
}

.part-adv p {
    font-size: 9px;
    color: #666666;
    line-height: 20px;
    text-align: center;
}

.brand-logos {
    width: 100%;
    background-color: #F8F8F8;
    padding: 64px 0px 64px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.login-mobile {
    display: none;
}



.brand-box-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.brand-box {
    width: 15.66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand-img {
    width: 131px;
    height: 131px;
    background: #ffffff;
    border-radius: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-img img {
    width: 99px !important;
    height: 40px;
    text-align: center;
}

.bdr {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 50px 0px;
}

.sign-up {
    width: 100%;
    background: #1C5DC5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 50px 0px 50px 0px;
}

.sign-up-holder {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sign-text {
    width: 30%;
}

.sign-text h5 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.sign-text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe {
    width: 70%;
    text-align: right;
    position: relative;
}

.subscribe input {
    width: 580px;
    height: 52px;
    border-radius: 100px;
    background: #ffffff;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    padding-left: 19px;
}

.emil-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.emil-btn button {
    width: 168px;
    height: 52px;
    background: #26A39E;
    border: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 100px;
}

/* footer styles */

.footer {
    padding: 50px 0px 50px 0px;
    width: 100%;
    background: #10397B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-holder {
    width: 1140px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.f-logo {
    width: 10%;

}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news {
    width: 28%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    padding-left: 23px;
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contact h6 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    line-height: 24px;
}

.contact p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.follow {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.follow-head {
    width: 100%;
}

.social-logos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.social-logos p {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.social-logos p i {
    color: #2D2D2D;
}

.follow h6 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.certified {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cer-logo-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cer-logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cer-logo-text {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cer-logo-text p {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;

}

.legal {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.legal p {
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
    padding-top: 15px;
}

.mobile-color-img {
    display: none;
}

.large-color-img {
    display: block;
}

.mobile-sign-head {
    display: none;
}

.lg-sign-head {
    display: block;
}

.lg-email {
    display: block;
}

.mobile-email {
    display: none;
}

.mobile-footer {
    display: none;
}

/* owl carousel */
.owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-dots {
    display: none !important;
}

.owl-theme .owl-nav {
    margin-top: 0px !important;
}

.advt-carousel {
    padding: 50px 0px 50px 0px;
}

.owl-stage-outer {
    padding-left: 45px !important;
}

.owl-prev span, .owl-next span {
    font-size: 32px;
    color: rgba(28, 93, 197, 0.80);
}

.brand-holder {
    overflow: hidden;
}

.contact-us {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}

.contact-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* form styles */

.f-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* .f-fields label{
    width: 95px;
} */
fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
}

fieldset input {
    width: 20px !important;
    padding: 10px !important;
    margin: 0px 5px 0px 5px !important;
    border: transparent !important;
}

.f-16 {
    font-size: 16px;
    font-weight: 600;
}

.f-18 {
    font-size: 28px;
}

input, label {
    border: none;
    padding: 10px 10px 10px 0px;
}

.f-fields input {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    height: 35px;
    box-shadow: 1px 1px 5px 1px lightblue;
    margin-bottom: 15px;
}

.p-b30 {
    padding-bottom: 30px;
}

.p-b {
    padding: 28px 0px 10px 0px;
}

.p-l {
    padding-left: 24px;
}

.p-all {
    padding: 16px 0px 20px 0px;
}

fieldset {
    border: none;
}

/* .wd-100{
    width: 100% !important;
} */
.form-box {
    background-color: #002257;
    color: #ffffff;
    width: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    box-shadow: 1px 1px 5px 1px lightblue;
    border-radius: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* close button styles */
.close-button i {
    color: black;
    font-size: 16px;
}

.close-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 2px;
    right: 4px;
}


.side-close-btn {
    position: absolute;
    top: 160px !important;
    right: 0px !important;
    left: 180px !important;
    justify-content: flex-start;
}

.side-close-btn i {
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}

/* about us page css */
.about-banner {
    width: 100%;
    background: url(images/banner1.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-size: cover;
}

.about-sec {
    width: 100%;
    background: url(images/who.png);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
}

.contact-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
}

.about-banner h2, .contact-banner h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    padding-bottom: 20px;

}

.about-banner p, .contact-banner p {
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
}

.about-banner .heading, .contact-banner .heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.about-second-sec, .about-third-sec {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.about-second-sec .why-we-diff {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-second-sec {
    background: #F8F8F8;
}

.why-we-left, .why-we-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.why-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.why-text h2, .chose-text h2 {
    color: #1C5DC5;
    font-size: 35px;
    padding-bottom: 24px !important;
}

.why-text p, .chose-text p {
    color: #404040;
    font-size: 16px;
    padding-bottom: 10px;
}

.why-text .bdr {
    justify-content: flex-start !important;
}

.why-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.why-box-icon {
    width: 20%;
}

.why-box-icon img {
    width: 77px;
}

.why-box-para {
    width: 80%;
}

.why-right-img {
    width: 100%;
}

.chose-plan-sec {
    width: 1320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.chose-text {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}

.plan-card-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.plan-card {
    width: 26%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    margin: 0px 20px 20px 0px;
    padding: 30px 31px;
}

.m-b {
    margin-bottom: 30px;
}

.card-head span {
    font-size: 20px;
    font-weight: 600;
    color: #18304B;
    margin-bottom: 14px !important;
}

.card-text, .card-head {
    width: 100%;
    text-align: center;
}

.card-head h4 {
    color: #1C5DC5;
    font-size: 30px;
    font-weight: 700;
}

.card-head p {
    color: #76787A;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    font-style: italic;
}

.card-text p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #76787A;
    font-weight: 300;
    line-height: 1.6;
}

.card-text a button {
    background-color: #ffffff;
    width: 170px;
    height: 48px;
    color: #1C5DC5;
    border-radius: 100px;
    border: 1px solid #1C5DC5;
    text-align: center;
    font-size: 16px;
    padding: 13px 44px;
    font-weight: 500;
}

.card-text a button:hover {
    background-color: #1C5DC5;
    color: #ffffff;
}

/* hamburger dropdown menu styles*/
.drop-down-nav {
    position: fixed;
    width: 1216px;
    height: 100%;
    top: 0;
    left: -1216px;
    background: #1C5DC5;
    z-index: 9;
    /* display: none; */
    transition: all 0.5s ease-in;
    /* overflow: hidden; */

}

/* transition style width 1215.350*/

.drop-down-nav.active {
    /* display: block; */
    /* width: 1215.350px; */
    transition: all 0.5s ease-in;
    left: 0;

}

.side-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 144px 0px 0px 220px;
}

.side-menu-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.side-logo {
    width: 100%;
    height: 122px;
}

.side-logo a img {
    width: 170px;
}

.clr-wh {
    background-color: #ffffff !important;
}
.cl-black{
    color: #000;
}
.color-w{
    color: #ffffff;
}

.mega-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 0px 0px 0px 174px; */
}

.mega-menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-cards {
    width: 33.33%;
}

.menu-head h3 {
    font-size: 24px;
    font-weight: 400;

}

.m-b-10 {
    margin-bottom: 10px;
}

.menu-list a {
    font-size: 16px;
    color: #ffffff;
}

.menu-list a:hover {
    color: yellow !important;
}

.white-under-line {
    border-bottom: 2px solid #E5E5E5;
    padding: 10px 0;
    width: fit-content;
    display: inline-block;
}

.menu-list li {
    padding-bottom: 5px;
}

.menu-list li:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* cart page styles */


.cart-banner {
    width: 100%;
    height: 100%;
    background: url(images/cart-banner-image.png) center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart-hero-text {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    opacity: 0.6;
    background: #000;
}

.cart-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background: #f0f2f4;
    padding: 50px 0px 50px 0px;
}

.cart-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 24px 64px -8px rgba(1, 30, 63, 0.2);
}

.cart-payment-left {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
    padding: 32px 32px 32px 32px;

}

.cart-icon-holder, .cart-steps {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.h-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: transparent;
    border-top: 2px dashed #1C5DC5;
    z-index: 2;
}

.cart-check-icon a i:hover, .cart-inbox-icon a i, .cart-payment-icon a i:hover {
    background: #1C5DC5 !important;
    color: #ffffff !important;
}
.cart-inbox-icon a{
    background: #1C5DC5 !important;
    color: #ffffff !important;
}
.cart-check-icon a i, .cart-inbox-icon a i, .cart-payment-icon a i {
    background: #e8f0ff;
    width: 67px;
    height: 67px;
    border-radius: 67px;
    color: #1C5DC5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}

.cart-steps-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.steps-item h4 span {
    font-size: 10px;
    color: #1C5DC5;
    font-weight: 500;
}

.pd-l-38 {
    padding-left: 38px;
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.ft-14px {
    font-size: 14px;
    font-weight: 500;
}

.product-head h5 {
    color: #ffffff;
    font-size: 20px;
}

.product-head span {
    color: #ffffff;
    font-size: 14px;
}

.product-table-container table, tr {
    border: 1px solid rgba(0, 0, 0, .1) !important;
    border-collapse: collapse;
}

.products-table {
    padding-right: 0px !important;
    padding-bottom: 89px !important;
    padding-left: 0px !important;
    width: 100%;
}

.product-table-container th {
    width: 135px;
    font-size: 12px;
    color: #4f5e78 !important;
    padding: 8px 5px;
    background: #fafbfc;
}

.product-table-container td {
    width: 43px;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.product-table-container td a {
    color: #1C5DC5 !important;
    font-size: 14px;
}

.pt-32 {
    padding-top: 32px;
}

.product-close-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: absolute;
    top: 840px;
    right: 0px; */
}

.product-table-container tbody {
    text-align: center;
}

.product-table-img img {
    width: 32px;
}

.p-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.coupon input {
    padding: 7px 8px;
    border: 1px solid rgba(0, 0, 0, .1) !important;
    background: #fafbfc !important;
}

.apply-coupon-btn button {
    box-shadow: 1px 1px 5px 1px lightblue;
    border: none;
    border-radius: 2px;
    background: #ffffff;
    padding: 7px 8px;
    color: #1C5DC5;
}

.coupon {
    padding: 7px 8px !important;
}
.p-8 {
    padding: 8px 8px !important;
}
.apply-cou button{
    width: 95px !important;
    height: 39px !important;
    background: #ffffff;
    color: #1C5DC5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 24px 64px -8px rgba(1, 30, 63, 0.2);
}

.cart-product-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #1C5DC5;
    box-shadow: 0px 24px 64px -8px rgba(1, 30, 63, 0.2);
    padding: 32px 16px 32px 16px;
}

.payment-head h5 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.payment-head, .product-head {
    width: 100%;
    text-align: center;
    height: 589px;
}
.cart-total-card{
    width: 100%;
    background: #20344c;
    background-color: #20344c;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    border-width: 0px;
    padding: 30px 16px 30px 16px;
    margin-bottom: 5px;
}
.cart-special-offer{
    width: 100%;
    background: #20344c;
    background-color: #20344c;
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    border-width: 0px;
    padding: 30px 16px 30px 16px;
}
.cart-product-sub{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,0.06);
    padding-bottom: 15px;
}
.cart-product-offer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,0.06);
    padding-bottom: 15px;
}
.special-offer-box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}
.c-p-s-p{
    font-size: 14px;
    font-weight: 500;
    color: #8696a8!important;
}
.cart-product-item{
    width: 100%;
    padding: 9px 12px 9px 0px;
    text-align: start;
}
.cart-product-item h6{
    font-size: 12px;
    color: rgb(255, 92, 71);
    text-transform: capitalize;
}
.cart-product-head{
    text-align: start;
    padding-bottom: 25px;
}
.c-p-p{
    font-size: 14px !important;
    color: #ffffff !important;
}
.checkout-btn {
    color: #ffffff;
    background: #1C5DC5;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.shop-checkout-btn a {
    color: #1C5DC5 !important;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 56px;
    border-radius: 6px;
}


/* product table styles in div */
.st-row, .st-head-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.bg-color {
    background: #fafbfc;
}
.data-item, .head-item{
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.data-item img{
    width: 32px;
}
.data-item a i{
    width: 18px;
    height: 18px;
    color: #d3dde9!important;
}
.data-item a:hover{
    color: #ffffff !important;
    background: red;
    border-radius: 9px;
}
.inp-w60{
    width: 60px;
    border: 1px solid black;
    background: #fafbfc;
    padding-left: 5px;
}
.ft-10{
    font-size: 10px;
    color: #4f5e78!important;
    font-weight: 700;
}
.ft-12{
    font-size: 12px;
    color: #011e3f!important;
    font-weight: 600;
}
.color-blue-ft{
    color: #1C5DC5 !important;
}
.st-row{
    border: 1px solid rgba(0, 0, 0, .1) !important;
    border-collapse: collapse;
}
/* .t-right{
    text-align: right;
}
.t-left{
    text-align: left;
} */

/* Small devices (phones, 575px and down) */
@media (max-width: 575px) {
    .who-we-img {
        width: 100%;
    }

    .hamburger {
        width: 20%;
    }

    .who-we-img img {
        width: 100%;
    }

    .gray-bar {
        width: 343px;
        height: 20px;
    }

    .color-img img {
        width: 100%;
    }

    .color-img {
        width: 343px;
        height: 20px;
    }

    .logo {
        width: 70%;

    }

    .logo a img {
        width: 124px;
    }

    .nav-bar {
        width: 100%;
        padding: 10px 5px 10px 8px;
    }

    .sub-butn {
        display: none;
    }

    .login-mobile {
        display: block;
    }

    .login {
        display: none;
    }

    .cart, .about, .login-mobile, .contact-u, .search {
        padding-right: 0px;
        width: 33.33%;
    }

    /* .login i, .cart i, .search i, .login-mobile i{
        padding-left: 5px;
    } */
    .banner {
        background-size: auto;
    }

    .read-more-btns {
        width: 100%;
    }

    .heading {
        width: 100%;
    }

    .heading h1 {
        padding: 62px 30px 30px 30px;
    }

    .read-btn, .view-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .read-btn a, .view-btn a {
        margin-left: 0px;
    }

    .who-we-img img {
        left: 0;
    }

    .box-holder {
        width: 100%;
    }

    .what-holder {
        width: 100%;
    }

    .m-l {
        margin-left: 230px;
    }

    .what-heading {
        width: 100%;
    }

    .view-button {
        position: initial;
    }

    .what-we-do {
        background-size: cover;
    }

    .who-holder {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .who-we-para, .part-para {
        width: 100%;
        padding: 40px 10px 40px 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hide-mob {
        display: none;
    }

    .brand-box {
        width: 27.33%;
    }

    .brand-img {
        width: 80px;
        height: 80px;
        border-radius: 80px;
    }

    .brand-img img {
        width: 62px !important;
    }

    .sign-up-holder {
        flex-direction: column;
        width: 100%;
    }

    .sign-text, .subscribe {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emil-btn button {
        width: 327px;
    }

    .emil-btn {
        position: unset;
        text-align: center;
    }

    .inp {
        width: 327px;
        text-align: center;
        padding-bottom: 16px;
    }

    .subscribe {
        padding-top: 30px;
    }

    .subscribe input {
        width: 327px;
    }

    .sign-up {
        padding: 50px 20px 50px 34px;
        text-align: center;
    }

    .footer-holder {
        width: 100%;
    }

    .what-heading h3 {
        font-size: 24px;
    }

    .mobile-color-img {
        display: block;
        background: #DF6364;
        width: 343px;
        height: 57px;
        text-align: center;
        padding-top: 15px;
    }

    .large-color-img {
        display: none;

    }

    .mobile-color-img p {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .advt {
        padding: 30px 0px 30px 0px;
        margin-bottom: 28px;
    }

    .mobile-sign-head {
        display: block;
    }

    .lg-sign-head {
        display: none;
    }

    .lg-email {
        display: none;
    }

    .mobile-email {
        display: block;
    }

    .mobile-footer {
        display: block;
        width: 100%;
    }

    .social-logos {
        justify-content: center;
    }

    .lg-footer {
        display: none;
    }

    .footer-holder {
        justify-content: center;
    }

    .social-logos p {
        width: 40px;
        height: 40px;
        border-radius: 40px
    }

    .footer-bdr {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
    }

    .footer-border {
        background: rgba(255, 255, 255, 0.20);
        width: 327px;
        height: 1px;
        border-radius: 100px;

    }

    .f-fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .why-we-left, .why-we-right {
        width: 100%;
    }

    .plan-card {
        width: 100%;
    }

    .drop-down-nav {
        width: 100%;
    }

    .side-close-btn {
        top: 18px !important;
        right: 0px !important;
        left: 385px !important;
    }

    .side-menu-container {
        padding: 0px;
    }

    .menu-cards {
        width: 100%;
    }

}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
    .who-we-img {
        width: 100%;
    }

    .who-we-img img {
        width: 100%;
    }
    .gray-bar{
        width: 100%;
    }
    .color-img img{
        width: 100%;
    }
    .login-mobile{
        display: block;
    }
    .login{
        display: none;
    }
    .cart, .search, .login-mobile{
        padding-right: 18px;
    }
    /* .login i, .cart i, .search i, .login-mobile i{
        padding-left: 5px;
    } */
/* .banner{
        background-size: auto;
    }
    .read-more-btns{
        width: 100%;
    }
    .heading{
        width: 100%;
    }
    .heading h1{
        padding: 62px 30px 30px 30px;
    }
    .read-btn, .view-btn{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    } */
/* .who-we-img img{
        left: 0;
    } */
/* .box-holder{
        width: 100%;
    }
    .what-holder{
        width: 100%;
    } */
/* } */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait)

/* applied to lg also */
    {

    /* .who-we-para {
        width: 50%;
        padding-top: 40px;
    }

    .who-we-img {
        width: 50%;
        position: relative;
    }

    .who-we-img img {
        position: absolute;
        top: 0;
        right: -189px;
    } */
    .gray-bar {
        width: 100%;
    }

    .gray-bar p {
        width: 100%;
    }

    .color-img {
        width: 100%;
    }

    .color-img img {
        width: 100%;
    }

    /* .banner {
        background-size: cover;
    } */
    .who-we-para {
        width: 100%;
        padding: 40px 10px 40px 30px;
    }

    .who-we-img {
        width: 100%;
    }

    .who-we-img img {
        width: 100%;
    }

    .box-holder {
        width: 100%;
    }

    .who-holder, .part-holder, .what-holder {
        width: 100%;
    }

    .what-we-do {
        background-size: cover;
        text-align: center;
    }

    .what-heading {
        width: 100%;
        text-align: center;
    }

    .m-l {
        margin-left: 379px;
    }

    .logo-sec {
        padding-left: 26px;
    }

    .menu-sec {
        padding-right: 26px;
        justify-content: flex-start;
    }

    .login, .cart, .about, .login-mobile, .contact-u, .search {
        padding-right: 18px;
    }

    .box {
        margin: 23px;
    }


    .partner-img {
        padding-left: 66px;
    }

    .part-para {
        padding: 0px 15px 0px 20px;
    }

    .why-we-left, .why-we-right {
        width: 100%;
    }

    .plan-card {
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .nav-bar {
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

    }

    .logo-sec {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .menu-sec {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .sub-butn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .read-more-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .who-sec {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .who-holder, .what-holder {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .who-we-img {
        width: 50%;
        position: relative;
    }

    .who-we-img img {
        position: unset;
        top: 0;
        right: -189px;
        height: 100%;
    }

    .banner {
        background-size: cover;
    }

    .about-second-sec .why-we-diff {
        width: 1140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .brand-holder {
        width: 1140px;
    }

    nav {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .nav-bar {
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo-sec {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .menu-sec {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .sub-butn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .read-more-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .who-sec {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
    }

    .who-holder, .what-holder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .who-we-img {
        width: 50%;
        position: relative;
    }

    .who-we-img img {
        position: absolute;
        top: 0;
        right: -189px;
        height: 100%;
    }

    .m-l {
        margin-left: 76px;
    }

    .contact-holder {
        width: 1140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .about-second-sec .why-we-diff {
        width: 1140px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


}